* {
  margin:0;
  padding:0;
}
body {
  overflow:hidden;
  font-family:Monospace;
  background-color:black;
}
.sidebar-button {
  width:36px;
  height:36px;
  border-radius:8px; -webkit-border-radius:8px; -miz-border-radius:8px;
  border:none;
  background-repeat:no-repeat;
  background-position:center;
  background-color:rgba(255,255,255,1);
  margin:5px;
}
#sidebar-button {
  z-index:999;
  position:absolute;
  top:10px;
  /*-webkit-transition:right 0.3s ease-in-out;*/
}
#sidebar-button.open {
  background-image:url(images/f_003_85.png);
  /*right:105px;*/
  right:5px;
}
#sidebar-button.close {
  /*background-color:rgba(255,255,255,0.5);*/
  background-image:url(images/f_003_84.png);
  right:5px;
}
#sidebar-button.close:hover {
  /*background-color:rgba(255,255,255,1);*/
  background-image:url(images/f_003_84.png);
}
#sidebar {
  position:absolute;
  top:0;
  width:100px;
  height:100%;
  background-color:rgba(255,255,255,0.5);
  -webkit-transition:right 0.3s ease-in-out;
  padding-top:60px;
}
#sidebar.open {
  right:0;
}
#sidebar.close {
  right:-100px;
}
#plane-button { background-image:url(images/f_001_21.png); }
#mesh-button { background-image:url(images/f_001_20.png); }
#throw-button { background-image:url(images/f_002_18.png); }
#shake-button { background-image:url(images/f_003_70.png); }
#turn-right-button { background-image:url(images/s_004_44.png); }
#turn-left-button { background-image:url(images/s_004_43.png); }
#inflate-button { background-image:url(images/f_003_37.png); }
#deflate-button { background-image:url(images/f_003_40.png); }
#zoom-in-button { background-image:url(images/f_003_43.png); }
#zoom-out-button { background-image:url(images/f_003_44.png); }
#webcam-button { background-image:url(images/f_001_36.png); }
